<p>
  <b>Tipo cliente:</b>
  <%=h @cliente.tipo_cliente %>
</p>

<p>
  <b>Cpf cnpj:</b>
  <%=h @cliente.cpf_cnpj %>
</p>

<p>
  <b>Razao social:</b>
  <%=h @cliente.razao_social %>
</p>

<p>
  <b>Nome fantasia:</b>
  <%=h @cliente.nome_fantasia %>
</p>

<p>
  <b>Documento:</b>
  <%=h @cliente.documento %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @cliente.endereco %>
</p>

<p>
  <b>Complemento:</b>
  <%=h @cliente.complemento %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @cliente.cidade_id %>
</p>

<p>
  <b>Uf:</b>
  <%=h @cliente.uf_id %>
</p>

<p>
  <b>Cep:</b>
  <%=h @cliente.cep %>
</p>

<p>
  <b>Referencia:</b>
  <%=h @cliente.referencia %>
</p>

<p>
  <b>Fone pessoal:</b>
  <%=h @cliente.fone_pessoal %>
</p>

<p>
  <b>Fone comercial:</b>
  <%=h @cliente.fone_comercial %>
</p>

<p>
  <b>Fone celular:</b>
  <%=h @cliente.fone_celular %>
</p>

<p>
  <b>Endereco entrega:</b>
  <%=h @cliente.endereco_entrega %>
</p>

<p>
  <b>Regiao entrega:</b>
  <%=h @cliente.regiao_entrega_id %>
</p>

<p>
  <b>Cidade entrega:</b>
  <%=h @cliente.cidade_entrega_id %>
</p>

<p>
  <b>Area:</b>
  <%=h @cliente.area_id %>
</p>

<p>
  <b>Referencias bancaria:</b>
  <%=h @cliente.referencias_bancaria %>
</p>

<p>
  <b>Referencias comerciais:</b>
  <%=h @cliente.referencias_comerciais %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @cliente.observacao %>
</p>

<p>
  <b>Info serasa:</b>
  <%=h @cliente.info_serasa %>
</p>

<p>
  <b>Data nascimento:</b>
  <%=h @cliente.data_nascimento %>
</p>

<p>
  <b>Nome comprador:</b>
  <%=h @cliente.nome_comprador %>
</p>

<p>
  <b>Vendas suspensas:</b>
  <%=h @cliente.vendas_suspensas %>
</p>

<p>
  <b>Observacao suspensao venda:</b>
  <%=h @cliente.observacao_suspensao_venda %>
</p>

<p>
  <b>Limite credito:</b>
  <%=h @cliente.limite_credito %>
</p>

<p>
  <b>Saldo devedor:</b>
  <%=h @cliente.saldo_devedor %>
</p>

<p>
  <b>Status:</b>
  <%=h @cliente.status %>
</p>

<p>
  <b>Prazo medio maximo:</b>
  <%=h @cliente.prazo_medio_maximo %>
</p>

<p>
  <b>Data inclusao prazo medio:</b>
  <%=h @cliente.data_inclusao_prazo_medio %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
