<h1>Editar Plano de Pagamento</h1>

<% form_for(@planodepagamento) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Exibir', @planodepagamento %> |
<%= link_to 'Voltar', planosdepagamento_path %>
