<h1>Listing planosdepagamento</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% @planosdepagamento.each do |planodepagamento| %>
  <tr>
    <td><%=h planodepagamento.descricao %></td>
    <td><%= link_to 'Show', planodepagamento %></td>
    <td><%= link_to 'Edit', edit_planodepagamento_path(planodepagamento) %></td>
    <td><%= link_to 'Destroy', planodepagamento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New planodepagamento', new_planodepagamento_path %>