<h1>Plano de Pagamento</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% @planosdepagamento.each do |planodepagamento| %>
  <tr>
    <td><%=h planodepagamento.descricao %></td>
    <td><%= link_to 'Exibir', planodepagamento %></td>
    <td><%= link_to 'Editar', edit_planodepagamento_path(planodepagamento) %></td>
    <td><%= link_to 'Excluir', planodepagamento, :confirm => 'Confirma exclusao de: #{planodepagamento.descricao}?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Incluir Plano de Pagamento', new_planodepagamento_path %>
