<h1>Novo Plano de Pagamento</h1>

<% form_for(@planodepagamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Voltar', planosdepagamento_path %>
