<h1>Listing cores</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% @cores.each do |cor| %>
  <tr>
    <td><%=h cor.descricao %></td>
    <td><%= link_to 'Show', cor %></td>
    <td><%= link_to 'Edit', edit_cor_path(cor) %></td>
    <td><%= link_to 'Destroy', cor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cor', new_cor_path %>