<table>
  <tr>
    <th>Id</th>
    <th>Descricao</th>
  </tr>

<% @cores.each do |cor| %>
  <tr>
    <td><%=h cor.id %></td>
    <td><%=h cor.descricao %></td>
    <td><%= link_to 'Exibir', cor %></td>
    <td><%= link_to 'alterar', edit_cor_path(cor) %></td>
    <td><%= link_to 'Excluir', cor, :confirm => "Excluir a Cor: #{cor.descricao} ?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Cor', new_cor_path %>