<h1>Listagem Roteiros</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Funcionário</th>
    <th>Região</th>
  </tr>

<% @roteiros.each do |roteiro| %>
  <tr>
    <td><%=h roteiro.descricao %></td>
    <td><%=h roteiro.funcionario_id %></td>
    <td><%=h roteiro.regiao_id %></td>
    <td><%= link_to 'Exibir', roteiro %></td>
    <td><%= link_to 'Alterar', edit_roteiro_path(roteiro) %></td>
    <td><%= link_to 'Excluir', roteiro, :confirm => 'Você Tem certeza Que Quer Excluir o Roteiro ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Roteiro', new_roteiro_path %>
