<h1>Listando grupos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Margem lucro</th>
    <th>Unificado</th>
  </tr>

<% for grupo in @grupos %>
  <tr>
    <td><%=h grupo.descricao %></td>
    <td><%=h grupo.margem_lucro %></td>
    <td><%=h grupo.unificado %></td>
    <td><%= link_to 'Exibir', grupo %></td>
    <td><%= link_to 'Alterar', edit_grupo_path(grupo) %></td>
    <td><%= link_to 'Excluir', grupo, :confirm => "Confirme exclusão do grupo #{grupo.descricao} ?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo grupo', new_grupo_path %>
