<h1>Listing grupos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Margem lucro</th>
    <th>Unificado</th>
  </tr>

<% for grupo in @grupos %>
  <tr>
    <td><%=h grupo.descricao %></td>
    <td><%=h grupo.margem_lucro %></td>
    <td><%=h grupo.unificado %></td>
    <td><%= link_to 'Show', grupo %></td>
    <td><%= link_to 'Edit', edit_grupo_path(grupo) %></td>
    <td><%= link_to 'Destroy', grupo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New grupo', new_grupo_path %>
