<p>
  <b>Descricao:</b>
  <%=h @grupo.descricao %>
</p>

<p>
  <b>Margem lucro:</b>
  <%=h @grupo.margem_lucro %>
</p>

<p>
  <b>Unificado:</b>
  <%=h @grupo.unificado %>
</p>


<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
