<h1>Listagem de regiões</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% @regioes.each do |regiao| %>
  <tr>
    <td><%=h regiao.descricao %></td>
    <td><%= link_to 'Exibir', regiao %></td>
    <td><%= link_to 'Alterar', edit_regiao_path(regiao) %></td>
    <td><%= link_to 'Excluir', regiao, :confirm => 'Você Tem certeza Que Quer Excluir a Região ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Regiao', new_regiao_path %>
