<h1>New regiao</h1>

<% form_for(@regiao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', regioes_path %>
