<p>
  <b>Tipo:</b>
  <%=h @pedido.tipo %>
</p>

<p>
  <b>Data:</b>
  <%=h @pedido.data %>
</p>

<p>
  <b>Previsao entrega:</b>
  <%=h @pedido.previsao_entrega %>
</p>

<p>
  <b>Entrega:</b>
  <%=h @pedido.entrega %>
</p>

<p>
  <b>Programacao:</b>
  <%=h @pedido.programacao %>
</p>

<p>
  <b>Cliente:</b>
  <%=h @pedido.cliente_id %>
</p>

<p>
  <b>Valor:</b>
  <%=h @pedido.valor %>
</p>

<p>
  <b>Preco tabela:</b>
  <%=h @pedido.preco_tabela %>
</p>

<p>
  <b>Acrescimo:</b>
  <%=h @pedido.acrescimo %>
</p>

<p>
  <b>Desconto:</b>
  <%=h @pedido.desconto %>
</p>

<p>
  <b>Transportadora:</b>
  <%=h @pedido.transportadora_id %>
</p>

<p>
  <b>Comprador:</b>
  <%=h @pedido.comprador %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @pedido.observacao %>
</p>

<p>
  <b>Funcionario:</b>
  <%=h @pedido.funcionario_id %>
</p>

<p>
  <b>Endereco entrega:</b>
  <%=h @pedido.endereco_entrega %>
</p>

<p>
  <b>Minuta:</b>
  <%=h @pedido.minuta_id %>
</p>

<p>
  <b>Area:</b>
  <%=h @pedido.area_id %>
</p>

<p>
  <b>Operador:</b>
  <%=h @pedido.operador_id %>
</p>

<p>
  <b>Telemarketing:</b>
  <%=h @pedido.telemarketing_id %>
</p>

<p>
  <b>Especial:</b>
  <%=h @pedido.especial %>
</p>

<p>
  <b>Registro:</b>
  <%=h @pedido.registro %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @pedido.empresa_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @pedido.status %>
</p>

<p>
  <b>Estorno:</b>
  <%=h @pedido.estorno %>
</p>

<p>
  <b>Operador estorno:</b>
  <%=h @pedido.operador_estorno_id %>
</p>

<p>
  <b>Comissao vendedor:</b>
  <%=h @pedido.comissao_vendedor %>
</p>

<p>
  <b>Comissao telemarketing:</b>
  <%=h @pedido.comissao_telemarketing %>
</p>

<p>
  <b>Venda externa:</b>
  <%=h @pedido.venda_externa %>
</p>

<p>
  <b>Desconto complementar:</b>
  <%=h @pedido.desconto_complementar %>
</p>

<p>
  <b>Autorizador:</b>
  <%=h @pedido.autorizador_id %>
</p>


<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>