<h1>Editing itens_minuta</h1>

<% form_for(@itens_minuta) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :produto_id %><br />
    <%= f.text_field :produto_id %>
  </p>
  <p>
    <%= f.label :qtde %><br />
    <%= f.text_field :qtde %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @itens_minuta %> |
<%= link_to 'Back', itens_minutas_path %>