<h1>Alterando Itens de Minuta</h1>

<% form_for(@itens_minuta) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :produto_id %><br />
    <%= f.text_field :produto_id %>
  </p>
  <p>
    <%= f.label :qtde %><br />
    <%= f.text_field :qtde %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Exibir', @itens_minuta %> |
<%= link_to 'Voltar', itens_minutas_path %>
