<h1>Listando itens de minuta</h1>

<table>
  <tr>
    <th>Produto</th>
    <th>Qtde</th>
  </tr>

<% @itens_minutas.each do |itens_minuta| %>
  <tr>
    <td><%=h itens_minuta.produto_id %></td>
    <td><%=h itens_minuta.qtde %></td>
    <td><%= link_to 'Exibir', itens_minuta %></td>
    <td><%= link_to 'Alterar', edit_itens_minuta_path(itens_minuta) %></td>
    <td><%= link_to 'Excluir', itens_minuta, :confirm => 'Confirme exclusão do item de minuta #{itens_minuta.id}?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo item de minuta', new_itens_minuta_path %>
