<h1>Listing notasfiscais</h1>

<table>
  <tr>
    <th>Numero nota</th>
    <th>Numero pedido</th>
    <th>Numero selo</th>
    <th>Numero serie</th>
    <th>Cliente</th>
    <th>Percentual icms</th>
    <th>Emissao</th>
    <th>Total mercadoria</th>
    <th>Valor frete</th>
    <th>Cfop</th>
    <th>Natureza operacao</th>
    <th>Valor ipi</th>
    <th>Valor desconto</th>
    <th>Valor acrescimo</th>
    <th>Total nota</th>
    <th>Status</th>
    <th>Base calculo icms</th>
    <th>Valor icms</th>
    <th>Qtde volumes</th>
    <th>Entrada</th>
    <th>Saida</th>
    <th>Transportadora</th>
    <th>Percentual desconto</th>
    <th>Observacao</th>
    <th>Base calculo icms substituicao tributaria</th>
    <th>Percentual icms substituicao tributaria</th>
    <th>Valor icms substituicao tributaria</th>
  </tr>

<% @notasfiscais.each do |notafiscal| %>
  <tr>
    <td><%=h notafiscal.numero_nota %></td>
    <td><%=h notafiscal.numero_pedido_id %></td>
    <td><%=h notafiscal.numero_selo %></td>
    <td><%=h notafiscal.numero_serie %></td>
    <td><%=h notafiscal.cliente_id %></td>
    <td><%=h notafiscal.percentual_icms %></td>
    <td><%=h notafiscal.emissao %></td>
    <td><%=h notafiscal.total_mercadoria %></td>
    <td><%=h notafiscal.valor_frete %></td>
    <td><%=h notafiscal.cfop %></td>
    <td><%=h notafiscal.natureza_operacao %></td>
    <td><%=h notafiscal.valor_ipi %></td>
    <td><%=h notafiscal.valor_desconto %></td>
    <td><%=h notafiscal.valor_acrescimo %></td>
    <td><%=h notafiscal.total_nota %></td>
    <td><%=h notafiscal.status %></td>
    <td><%=h notafiscal.base_calculo_icms %></td>
    <td><%=h notafiscal.valor_icms %></td>
    <td><%=h notafiscal.qtde_volumes %></td>
    <td><%=h notafiscal.entrada %></td>
    <td><%=h notafiscal.saida %></td>
    <td><%=h notafiscal.transportadora_id %></td>
    <td><%=h notafiscal.percentual_desconto %></td>
    <td><%=h notafiscal.observacao %></td>
    <td><%=h notafiscal.base_calculo_icms_substituicao_tributaria %></td>
    <td><%=h notafiscal.percentual_icms_substituicao_tributaria %></td>
    <td><%=h notafiscal.valor_icms_substituicao_tributaria %></td>
    <td><%= link_to 'Show', notafiscal %></td>
    <td><%= link_to 'Edit', edit_notafiscal_path(notafiscal) %></td>
    <td><%= link_to 'Destroy', notafiscal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New notafiscal', new_notafiscal_path %>