  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :cidade_id %><br />
    <%= select_for(f,:cidade_id,:cidade,:descricao) %>
  </p>
  <p>
    <%= f.label :roteiro_id %><br />
    <%= f.text_field :roteiro_id %>
  </p>