<h1>Listagem Areas</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Cidade</th>
    <th>Roteiro</th>
  </tr>

<% @areas.each do |area| %>
  <tr>
    <td><%=h area.descricao %></td>
    <td><%=h area.cidade_id %></td>
    <td><%=h area.roteiro_id %></td>
    <td><%= link_to 'Exibir', area %></td>
    <td><%= link_to 'Alterar', edit_area_path(area) %></td>
    <td><%= link_to 'Excluir', area, :confirm => 'Tem certeza Que Quer Excluir a Area ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Area', new_area_path %>
