<h1>New area</h1>

<% form_for(@area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :cidade_id %><br />
    <%= select_for(f,:cidade_id,:cidade,:descricao) %>
  </p>
  <p>
    <%= f.label :roteiro_id %><br />
    <%= f.text_field :roteiro_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', areas_path %>
