<p>
  <b>Descricao:</b>
  <%=h @area.descricao %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @area.cidade_id %>
</p>

<p>
  <b>Roteiro:</b>
  <%=h @area.roteiro_id %>
</p>


<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>