<h1>Editing cidade</h1>

<% form_for(@cidade) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cidade %> |
<%= link_to 'Back', cidades_path %>