<h1>Listing cidades</h1>

<table>
  <tr>
    <th>Uf</th>
    <th>Cidade</th>
  </tr>

<% @cidades.each do |cidade| %>
  <tr>
    <td><%=h cidade.uf %></td>
    <td><%=h cidade.cidade %></td>
    <td><%= link_to 'Show', cidade %></td>
    <td><%= link_to 'Edit', edit_cidade_path(cidade) %></td>
    <td><%= link_to 'Destroy', cidade, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cidade', new_cidade_path %>