<h1>Editar Nota Fiscal</h1>

<% form_for(@item_nota_fiscal) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:p => p} %>
  
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Exibir', @item_nota_fiscal %> |
<%= link_to 'Voltar', itens_nota_fiscal_path %>
