<h1>Editing item_nota_fiscal</h1>

<% form_for(@item_nota_fiscal) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:p => p} %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @item_nota_fiscal %> |
<%= link_to 'Back', itens_nota_fiscal_path %>
