<h1>Editar Transportadora</h1>

<% form_for(@transportadora) do |f| %>
  <%= f.error_messages %>
 
  <%= render :partial => 'form', :locals => {:f => f} %> 
   
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Exibir', @transportadora %> |
<%= link_to 'Voltar', transportadoras_path %>
