<h1>Transportadoras</h1>

<table>
  <tr>
    <th>Razao social</th>
  </tr>

<% @transportadoras.each do |transportadora| %>
  <tr>
    <td><%=h transportadora.razao_social %></td>
    <td><%= link_to 'Exibir', transportadora %></td>
    <td><%= link_to 'Alterar', edit_transportadora_path(transportadora) %></td>
    <td><%= link_to 'Excluir', transportadora, :confirm => 'Confirma exclusao da transportadora #{transportadora.razao_social}?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Transportadora', new_transportadora_path %>
