<h1>Listing transportadoras</h1>

<table>
  <tr>
    <th>Razao social</th>
  </tr>

<% @transportadoras.each do |transportadora| %>
  <tr>
    <td><%=h transportadora.razao_social %></td>
    <td><%= link_to 'Show', transportadora %></td>
    <td><%= link_to 'Edit', edit_transportadora_path(transportadora) %></td>
    <td><%= link_to 'Destroy', transportadora, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transportadora', new_transportadora_path %>