<h1>New transportadora</h1>

<% form_for(@transportadora) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :razao_social %><br />
    <%= f.text_field :razao_social %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', transportadoras_path %>