<h1>Editing produto</h1>

<% form_for(@produto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :cor_id %><br />
    <%= f.text_field :cor_id %>
  </p>
  <p>
    <%= f.label :valor_especial %><br />
    <%= f.text_field :valor_especial %>
  </p>
  <p>
    <%= f.label :valor_normal %><br />
    <%= f.text_field :valor_normal %>
  </p>
  <p>
    <%= f.label :classe_id %><br />
    <%= f.text_field :classe_id %>
  </p>
  <p>
    <%= f.label :grupo_id %><br />
    <%= f.text_field :grupo_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </p>
  <p>
    <%= f.label :situacao_tributaria %><br />
    <%= f.text_field :situacao_tributaria %>
  </p>
  <p>
    <%= f.label :preco_minimo_nota_fiscal %><br />
    <%= f.text_field :preco_minimo_nota_fiscal %>
  </p>
  <p>
    <%= f.label :ipi %><br />
    <%= f.text_field :ipi %>
  </p>
  <p>
    <%= f.label :classificacao_fiscal %><br />
    <%= f.text_field :classificacao_fiscal %>
  </p>
  <p>
    <%= f.label :peso_liquido %><br />
    <%= f.text_field :peso_liquido %>
  </p>
  <p>
    <%= f.label :cod_emissao_nota_fiscal %><br />
    <%= f.text_field :cod_emissao_nota_fiscal %>
  </p>
  <p>
    <%= f.label :descricao_nota_fiscal %><br />
    <%= f.text_field :descricao_nota_fiscal %>
  </p>
  <p>
    <%= f.label :preco_normal_zona1 %><br />
    <%= f.text_field :preco_normal_zona1 %>
  </p>
  <p>
    <%= f.label :preco_especial_zona1 %><br />
    <%= f.text_field :preco_especial_zona1 %>
  </p>
  <p>
    <%= f.label :funcionario_id %><br />
    <%= f.text_field :funcionario_id %>
  </p>
  <p>
    <%= f.label :emissao_relatorio %><br />
    <%= f.check_box :emissao_relatorio %>
  </p>
  <p>
    <%= f.label :custo %><br />
    <%= f.text_field :custo %>
  </p>
  <p>
    <%= f.label :cadastro_custo %><br />
    <%= f.date_select :cadastro_custo %>
  </p>
  <p>
    <%= f.label :kit %><br />
    <%= f.check_box :kit %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @produto %> |
<%= link_to 'Back', produtos_path %>
