<p>
  <b>Descricao:</b>
  <%=h @produto.descricao %>
</p>

<p>
  <b>Cor:</b>
  <%=h @produto.cor_id %>
</p>

<p>
  <b>Valor especial:</b>
  <%=h @produto.valor_especial %>
</p>

<p>
  <b>Valor normal:</b>
  <%=h @produto.valor_normal %>
</p>

<p>
  <b>Classe:</b>
  <%=h @produto.classe_id %>
</p>

<p>
  <b>Grupo:</b>
  <%=h @produto.grupo_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @produto.status %>
</p>

<p>
  <b>Situacao tributaria:</b>
  <%=h @produto.situacao_tributaria %>
</p>

<p>
  <b>Preco minimo nota fiscal:</b>
  <%=h @produto.preco_minimo_nota_fiscal %>
</p>

<p>
  <b>Ipi:</b>
  <%=h @produto.ipi %>
</p>

<p>
  <b>Classificacao fiscal:</b>
  <%=h @produto.classificacao_fiscal %>
</p>

<p>
  <b>Peso liquido:</b>
  <%=h @produto.peso_liquido %>
</p>

<p>
  <b>Cod emissao nota fiscal:</b>
  <%=h @produto.cod_emissao_nota_fiscal %>
</p>

<p>
  <b>Descricao nota fiscal:</b>
  <%=h @produto.descricao_nota_fiscal %>
</p>

<p>
  <b>Preco normal zona1:</b>
  <%=h @produto.preco_normal_zona1 %>
</p>

<p>
  <b>Preco especial zona1:</b>
  <%=h @produto.preco_especial_zona1 %>
</p>

<p>
  <b>Funcionario:</b>
  <%=h @produto.funcionario_id %>
</p>

<p>
  <b>Emissao relatorio:</b>
  <%=h @produto.emissao_relatorio %>
</p>

<p>
  <b>Custo:</b>
  <%=h @produto.custo %>
</p>

<p>
  <b>Cadastro custo:</b>
  <%=h @produto.cadastro_custo %>
</p>

<p>
  <b>Kit:</b>
  <%=h @produto.kit %>
</p>


<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
