<h1>Editing regiao</h1>

<% form_for(@regiao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @regiao %> |
<%= link_to 'Back', regiaos_path %>