<h1>Listing regiaos</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% @regiaos.each do |regiao| %>
  <tr>
    <td><%=h regiao.descricao %></td>
    <td><%= link_to 'Show', regiao %></td>
    <td><%= link_to 'Edit', edit_regiao_path(regiao) %></td>
    <td><%= link_to 'Destroy', regiao, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New regiao', new_regiao_path %>