<p>
  <b>Numero nota:</b>
  <%=h @itemnotafiscal.numero_nota %>
</p>

<p>
  <b>Produto:</b>
  <%=h @itemnotafiscal.produto_id %>
</p>

<p>
  <b>Unidade medida:</b>
  <%=h @itemnotafiscal.unidade_medida %>
</p>

<p>
  <b>Quantidade:</b>
  <%=h @itemnotafiscal.quantidade %>
</p>

<p>
  <b>Valor item faturado:</b>
  <%=h @itemnotafiscal.valor_item_faturado %>
</p>

<p>
  <b>Valor item original:</b>
  <%=h @itemnotafiscal.valor_item_original %>
</p>

<p>
  <b>Situacao tributaria item:</b>
  <%=h @itemnotafiscal.situacao_tributaria_item %>
</p>

<p>
  <b>Percentual icms item:</b>
  <%=h @itemnotafiscal.percentual_icms_item %>
</p>

<p>
  <b>Percentual ipi item:</b>
  <%=h @itemnotafiscal.percentual_ipi_item %>
</p>

<p>
  <b>Peso liquido:</b>
  <%=h @itemnotafiscal.peso_liquido %>
</p>

<p>
  <b>Cod emissao nf:</b>
  <%=h @itemnotafiscal.cod_emissao_nf %>
</p>


<%= link_to 'Edit', edit_itemnotafiscal_path(@itemnotafiscal) %> |
<%= link_to 'Back', itensnotasfiscais_path %>