<table>
  <tr>
    <th>Minuta</th>
    <th>Produto</th>
    <th>Numero do volume</th>
    <th>Qtd carregada</th>
    <th>Qtd minuta</th>
    <th>Vidro</th>
  </tr>

<% @expedicoes.each do |expedicao| %>
  <tr>
    <td><%=h expedicao.minuta_id %></td>
    <td><%=h expedicao.produto_id %></td>
    <td><%=h expedicao.numero_do_volume %></td>
    <td><%=h expedicao.qtd_carregada %></td>
    <td><%=h expedicao.qtd_minuta %></td>
    <td><%=h expedicao.vidro %></td>
    <td><%= link_to 'Exibir', expedicao %></td>
    <td><%= link_to 'Alterar', edit_expedicao_path(expedicao) %></td>
    <td><%= link_to 'Excluir', expedicao, :confirm => "Excluir a Expedição #{expedicao.minuta}?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Expedição', new_expedicao_path %>
