<p>
  <b>Tipo:</b>
  <%=h @funcionario.tipo %>
</p>

<p>
  <b>Nome:</b>
  <%=h @funcionario.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @funcionario.endereco %>
</p>

<p>
  <b>Complemento:</b>
  <%=h @funcionario.complemento %>
</p>

<p>
  <b>Cep:</b>
  <%=h @funcionario.cep %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @funcionario.cidade_id %>
</p>

<p>
  <b>Uf:</b>
  <%=h @funcionario.uf %>
</p>

<p>
  <b>Fone:</b>
  <%=h @funcionario.fone %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @funcionario.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%=h @funcionario.rg %>
</p>

<p>
  <b>Pai:</b>
  <%=h @funcionario.pai %>
</p>

<p>
  <b>Mae:</b>
  <%=h @funcionario.mae %>
</p>

<p>
  <b>Numero carteira trabalho:</b>
  <%=h @funcionario.numero_carteira_trabalho %>
</p>

<p>
  <b>Serie carteira trabalho:</b>
  <%=h @funcionario.serie_carteira_trabalho %>
</p>

<p>
  <b>Titulo eleitor:</b>
  <%=h @funcionario.titulo_eleitor %>
</p>

<p>
  <b>Zona eleitoral:</b>
  <%=h @funcionario.zona_eleitoral %>
</p>

<p>
  <b>Admissao:</b>
  <%=h @funcionario.admissao %>
</p>

<p>
  <b>Registro:</b>
  <%=h @funcionario.registro %>
</p>

<p>
  <b>Nascimento:</b>
  <%=h @funcionario.nascimento %>
</p>

<p>
  <b>Naturalidade:</b>
  <%=h @funcionario.naturalidade %>
</p>

<p>
  <b>Estado civil:</b>
  <%=h @funcionario.estado_civil %>
</p>

<p>
  <b>Grau instrucao:</b>
  <%=h @funcionario.grau_instrucao %>
</p>

<p>
  <b>Cadastro pis:</b>
  <%=h @funcionario.cadastro_pis %>
</p>

<p>
  <b>Numero pis:</b>
  <%=h @funcionario.numero_pis %>
</p>

<p>
  <b>Cod banco pis:</b>
  <%=h @funcionario.cod_banco_pis %>
</p>

<p>
  <b>Nome banco pis:</b>
  <%=h @funcionario.nome_banco_pis %>
</p>

<p>
  <b>Cod agencia pis:</b>
  <%=h @funcionario.cod_agencia_pis %>
</p>

<p>
  <b>Nome agencia pis:</b>
  <%=h @funcionario.nome_agencia_pis %>
</p>

<p>
  <b>Endereco banco pis:</b>
  <%=h @funcionario.endereco_banco_pis %>
</p>

<p>
  <b>Demissao:</b>
  <%=h @funcionario.demissao %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @funcionario.observacao %>
</p>

<p>
  <b>Aci:</b>
  <%=h @funcionario.aci %>
</p>

<p>
  <b>Email:</b>
  <%=h @funcionario.email %>
</p>


<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>